@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


/* Style the scrollbar */
/* ::-webkit-scrollbar {
    width: 12px;  
    height: 12px; 
  }
  
  ::-webkit-scrollbar-track {
    background: black; 
    border-radius: 10px;  
  }
  ::-webkit-scrollbar-thumb {
    background-color: #E5195E; 
    border-radius: 10px;   
    border: 3px solid  black; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #E5195E; 
  } */
  